.hidden {
  display: none;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;
  /* border: 10px #333 solid; */
  box-sizing: border-box;
  overflow: hidden;
}
#videoElement {
  width: 80%;
  height: auto;
  /* background-color: #666; */
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  margin-left: 20px;
}
#timer {
  font-size: 40px;
}
#count {
  font-size: 40px;
}
