<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/camera.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/global.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <!-- Change the src attribute to use the server-side webcam stream -->
      <img
        id="videoElement"
        src="{{ url_for('video_feed') }}"
        width="640"
        height="480"
      />
      <!-- You may need to adjust the width and height attributes as needed -->
      <div id="info">
        <div id="timer">10</div>
        <div id="count">6/6</div>
      </div>
    </div>
  </body>
  <script src="{{url_for('static',filename='js/takephoto.js')}}"></script>
</html>
